@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color: #23d097;
    --opacity-color-text: #f5f5f5;
    --text-white-color: white;
    --text-dark-color: rgb(26, 26, 26);
    --background-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}
